[submodule "submodules/clojure-mode"]
	path = submodules/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "submodules/slime"]
	path = submodules/slime
	url = git://github.com/nablaone/slime.git
