[submodule "submodules/clojure-mode"]
	path = submodules/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "submodules/swank-clojure"]
	path = submodules/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "submodules/magit"]
	path = submodules/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "submodules/slime"]
	path = submodules/slime
	url = git://github.com/nablaone/slime.git
[submodule "submodules/org-mode"]
	path = submodules/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "submodules/find-file-in-project"]
	path = submodules/find-file-in-project
	url = git://github.com/technomancy/find-file-in-project.git
[submodule "submodules/eproject"]
	path = submodules/eproject
	url = git://github.com/jrockway/eproject.git
